.aboutNew {
  overflow: hidden;
}
.about_header {
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center;
  padding: 0 20px; /* Padding for smaller screens */
}

.about_header_text {
  font-size: 70px; /* Large size for bigger screens */
  line-height: 1.2;
}

.animate_icon {
  animation: bounce 2s infinite; /* Simple bounce animation for the chevron */
}

/* Bouncing effect */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .about_header_text {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .about_header_text {
    font-size: 35px;
  }
}

@media (max-width: 480px) {
  .about_header_text {
    font-size: 25px;
  }
}

.chevron_icon {
  position: absolute;
  top: 90%;
  font-size: 20px;
  line-height: 5px;
}
.section2 {
  background-color: #0b141c;
  padding: 20px 10px;
  color: #f9f9f9;
}
.about_vision_text p {
  text-align: justify;
  font-size: 14px;
  color: #cacaca;
}
.about_vision_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_vision_img img {
  max-width: 50%;
  mix-blend-mode: luminosity;
}

.culture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.culture_text {
  text-align: center;
  font-size: 1.5rem;
}

.our_culture_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.our_culture_img img {
  width: 100%;
  max-width: 300px;
}

.our_culture_textBox_down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .culture_text {
    font-size: 1.2rem;
  }

  .our_culture_img img {
    max-width: 100%;
  }

  .our_culture_textBox_down {
    margin-bottom: 2rem;
  }
}
