.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.blog_box{
    /* background-color: rgb(237, 227, 215);
   
    border-radius: 20px; */
     padding: 10px;
     border-radius: 20px; 
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.blog_img{
     display: flex;
    align-items: center;
    justify-content: center;
    
}
.blog_img img{
    width:90%;
    border-radius: 20px;
         border-radius: 20px; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.blog_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    
}
.blog_des{
    text-align: justify;
}
   /* Mobile devices (up to 600px) */
/* @media screen and (max-width: 780px) {

} */