.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 0;
}
.blog_box{
     padding: 0 10px;
}
.blog_item {
  display: flex;
}
.blog_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog_img img {
  width: 70%;
}
.blog_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 13px;
}
.blog_des {
  text-align: justify;
  font-size: 15px;
  color: #aaa;
}



.old_blog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.old_blog_item {
  display: flex;
  /* flex-direction: column; */
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.old_blog_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.old_blog_img img {
  width: 250px;
  height: 250px;
  object-fit:contain;
  border-bottom: 5px solid #fff;
}

.old_blog_text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: center;
}

.old_blog_text h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.old_blog_text p {
  font-size: 1rem;
  color: #888;
  margin-bottom: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .old_blog_item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .old_blog_item {
    width: 48%;
  }
}
