.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
   padding: 20px 0;


}
.blog_box{
    /* background-color: rgb(237, 227, 215);
   
    border-radius: 20px; */
     padding: 0 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    
}
.blog_img{
     display: flex;
    align-items: center;
    justify-content: center;
    
}
.blog_img img{
    width:70%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.blog_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 13px;

}
.blog_des{
    text-align: justify;
    font-size: 15px;
    color: #aaa;
}

.old_blog_img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.old_blog_img img{
width: 40%;
}
.old_blog_text{
      display: flex;
      flex-direction: column;
      justify-content:center;
      font-size: 13px;

}