/* home next section */

.service-item {
  text-align: center;
  color: #fff;
  padding: 20px;
  border-right: 1px solid #afaf29;
  position: relative;
  overflow: hidden;
}

.service-item:last-child {
  border-right: none;
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 10px;
  transition: opacity 0.5s ease-in-out;
  mix-blend-mode:luminosity;
}

.service-title {
  color: #000000;
  transition: color 0.5s ease-in-out;
}

.service-description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.service-item:hover .service-description {
  display: flex;
  opacity: 1;
}

.service-item:hover .service-icon {
  opacity: 0;
  mix-blend-mode:luminosity;
}

.service-item:hover .service-title {
  color: #ffffff;
}

.service-item::before,
.service-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0b141c;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.service-item::before {
  transform: scaleX(0);
  transform-origin: left;
}

.service-item::after {
  transform: scaleY(0);
  transform-origin: top;
}

.service-item:hover::before {
  transform: scaleX(1);
}

.service-item:hover::after {
  transform: scaleY(1);
}


/* AnimatedBoxes.css */

.scroll-container {
  height: 100vh; /* Adjust height to see the scroll effect */
  position: relative;
  overflow: hidden;
}

.box-container {
  position: fixed;
  top: 30%;
  left: 15%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 400px; /* Adjust width to fit your boxes */
  gap: 70px; /* Space between boxes */
}

.box {
  width: 50px;
  height: 50px;
  background-color: #000000; /* Box color */
  opacity: 0; /* Initial opacity */
  transition: opacity 0.8s ease-in;
  transform: translateY(0); /* Initial position */
}




.dot {
  position: absolute;
  width: 20px; 
  height: 20px; 
  background-color: #0b141c;

}


.dot:nth-child(2) {
  top: 20%;
  left: 25%;
  transform: translate(50%, 0);
}

.dot:nth-child(3) {
  top: 40%;
  left: 65%;
  transform: translate(-50%, 0);
}

.dot:nth-child(4) {
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  
}

.dot:nth-child(5) {
  top: 40%;
  left: 35%;

}

.dot:nth-child(6) {
  top: 20%;
  left: 70%;
}
.dot-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  /* animation: clockwise 60s linear infinite; */
}

.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  height: 5em;
  width: 5em;
}

.group span {
  display: grid;
  place-items: center;
  height: 2em;
  width: 2em;
  color: #000000; /* Replace with your color value */
}

.group span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}

/* Individual animations for each child */
.group span:nth-child(1) {
  animation: d1 3s linear infinite;
}

.group span:nth-child(2) {
  animation: d2 3s linear infinite;
}

.group span:nth-child(3) {
  animation: d3 3s linear infinite;
}

.group span:nth-child(4) {
  animation: d4 3s linear infinite;
}

.group span:nth-child(5) {
  animation: d5 3s linear infinite;
}

.group span:nth-child(6) {
  animation: d6 3s linear infinite;
}

.group span:nth-child(7) {
  animation: d7 3s linear infinite;
}

.group span:nth-child(8) {
  animation: d8 3s linear infinite;
}

.group span:nth-child(9) {
  animation: d9 3s linear infinite;
}

.group span:nth-child(10) {
  animation: d10 3s linear infinite;
}

.top {
  transform: rotateZ(0deg);
}

.right {
  transform: rotateZ(90deg);
}

.left {
  transform: rotateZ(-90deg);
}

.bottom {
  transform: rotateZ(180deg);
}

.middle {
  display: grid;
  place-items: center;
  height: 6em;
  width: 6em;
}

.middle span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  font-size: 2em;
  animation: beat 3s linear infinite;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes beat {
  0%,
  65% {
    transform: scale(1);
  }
  70% {
    transform: scale(4);
  }
  75% {
    transform: scale(1);
  }
  80% {
    transform: scale(4);
  }
  90%,
  100% {
    transform: scale(1);
  }
}

@keyframes d1 {
  0%,
  80% {
    transform: translateY(-6em);
    opacity: 0;
  }
  90%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes d2 {
  0%,
  70% {
    transform: translateX(0);
  }
  80%,
  100% {
    transform: translateX(2em);
  }
}

@keyframes d3 {
  0%,
  60% {
    transform: translateX(0);
  }
  70%,
  100% {
    transform: translateX(2em);
  }
}

@keyframes d4 {
  0%,
  50% {
    transform: translateY(0);
  }
  60%,
  100% {
    transform: translateY(2em);
  }
}

@keyframes d5 {
  0%,
  20% {
    transform: translateY(0);
  }
  30%,
  100% {
    transform: translateY(2em);
  }
}

@keyframes d6 {
  0%,
  30% {
    transform: translateX(0);
  }
  40%,
  100% {
    transform: translateX(-2em);
  }
}

@keyframes d7 {
  0%,
  40% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(-2em);
  }
}

@keyframes d8 {
  0%,
  10% {
    transform: translateX(0);
  }
  20%,
  100% {
    transform: translateX(2em);
  }
}

@keyframes d9 {
  0% {
    transform: translateX(0);
  }
  10%,
  100% {
    transform: translateX(2em);
  }
}

@keyframes d10 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  10%,
  100% {
    transform: translateY(6em);
    opacity: 0;
  }
}

/* Variables */
:root {
    --bezier-1: cubic-bezier(1, .1, .2, 1);
    --count: 10;
}
.highlight-container
{
  background: #f0f0f0;
  padding: 30px 20px;
  border-radius: var(--container-radius);
  min-height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-dot ul {
  min-width: 350px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(var(--count), 1fr);
}
.high-ball {
    width: 10px;
    position: relative;
    margin: auto;
}
li span {
    width: 20px;
    height: 20px;
    background-color: #444;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%, -50%);
    animation: sliding 1s ease-in-out infinite alternate;
    border-radius: 100%;
}
/* Keyframes */
@keyframes sliding {
    100% {
        margin-top: 45px;
    }
}
/* Ball Animations */
.ball-1 {
    animation-delay: 0.25s;
    background-color:  #ee964b;
}

.ball-2 {
    animation-delay: 0.5s;
    background-color: #377b37;
}

.ball-3 {
    animation-delay: 0.75s;
    background-color: #7a5afb;
}

.ball-4 {
    animation-delay: 1s;
    background-color: #d432c7;
}

.ball-5 {
    animation-delay: 1.25s;
    background-color: #00bcd4;
}

.ball-6 {
    animation-delay: 1.5s;
    background-color: #afaf29;
}


.cont {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
  }
  .dots {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    transform: translate(0px,0px);
  }
  .d1 {
    background: #ee964b;
    z-index: 10;
    animation: orbit1 2.5s ease-in-out infinite alternate;
    transition: transform 1s ease, width 1s ease, height 1s ease;
}
  .d2 {
    transform: rotate(-90deg) translateX(80px);
    background: #377b37;
    animation: orbit2 2.5s ease-in-out infinite alternate;
    z-index: 8;
  }
  
  .d3 {
    transform: rotate(180deg) translateX(80px);
    background: #afaf29;
    animation: orbit3 2.5s ease-in-out infinite alternate;
    z-index: 6;
  }
  
  .d4 {
    transform: rotate(90deg) translateX(80px);
    background: #7a5afb;
    animation: orbit4 2.5s ease-in-out infinite alternate;
    z-index: 4;
  }
  
  .d5 {
    transform: rotate(135deg) translateX(80px);
    background: #e62575;
    animation: orbit5 2.5s ease-in-out infinite alternate;
    z-index: 5;
  }
  
  .d6 {
    transform: rotate(225deg) translateX(80px);
    background: #967e77;
    animation: orbit6 2.5s ease-in-out infinite alternate;
    z-index: 7;
  }
  
  .d7 {
    transform: rotate(315deg) translateX(80px);
    background: #d432c7;
    animation: orbit7 2.5s ease-in-out infinite alternate;
    z-index: 9;
  }
  
  .d8 {
    transform: rotate(405deg) translateX(80px);
    background: #00bcd4;
    animation: orbit8 2.5s ease-in-out infinite alternate;
    z-index: 3;
  }


  

  @keyframes orbit1 {
    0% {
      transform: rotate(0deg) translateX(80px) scale(1,1);
    }
 
    100% {
      transform: rotate(330deg) translateX(90px) scale(2.4,2.4);
    }
  }
 
  @keyframes orbit2 {
    0% {
      transform: rotate(-90deg) translateX(80px) scale(1,1);
    }
 
    100% {
      transform: rotate(220deg) translateX(90px) scale(2.4,2.4);
    }
  }
 
  @keyframes orbit3 {
    0% {
      transform: rotate(180deg) translateX(80px) scale(1,1);
    }
 
    100% {
      transform: rotate(500deg) translateX(90px) scale(2.4,2.4);
    }
  }
 
  @keyframes orbit4 {
    0% {
      transform: rotate(90deg) translateX(80px) scale(1,1);
    }
 
    100% {
      transform: rotate(400deg) translateX(90px) scale(2.4,2.4);
    }
  }
 
  @keyframes orbit5 {
    0% {
      transform: rotate(135deg) translateX(80px) scale(1,1);
    }
 
    100% {
      transform: rotate(495deg) translateX(0px) scale(2.2,2.2);
    }
  }
 
  @keyframes orbit6 {
    0% {
      transform: rotate(225deg) translateX(80px) scale(1,1);
    }
 
    100% {
      transform: rotate(585deg) translateX(0px) scale(1.8,1.8);
    }
  }
 
  @keyframes orbit7 {
    0% {
      transform: rotate(315deg) translateX(80px) scale(1,1);
    }
 
    100% {
      transform: rotate(675deg) translateX(0px) scale(1.4,1.4);
    }
  }
 
  @keyframes orbit8 {
    0% {
      transform: rotate(405deg) translateX(80px) scale(1,1);
    }
 
    100% {
      transform: rotate(765deg) translateX(0px) scale(2.6,2.6);
    }
  }

  


/* service section */
.service-head h3
{
   font-size: 2rem;
}
.service-desc p{
  font-size: 14px;
  text-align: justify;
}

.service-desc
{
    max-width: 300px;
}

.ladder-layout {
  display: flex;
  justify-content: space-between;
}
.service-head:nth-child(1) {
  margin-top: 0; /* Web Application - First one, no extra margin */
}
.service-head:nth-child(2) {
  margin-top: 100px; /* Mobile Application - Second one, with margin */
}

.service-head:nth-child(3) {
  margin-top: 200px; /* E-Commerce - Third one, with larger margin */
}
.service-head:nth-child(4) {
  margin-top: 0px; /* E-Commerce - Third one, with larger margin */
}
.service-head:nth-child(5) {
  margin-top: 100px; /* E-Commerce - Third one, with larger margin */
}
.service-head:nth-child(6) {
  margin-top: 200px; /* E-Commerce - Third one, with larger margin */
}