/* DOT */


/* Custom Cursor */
.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background: repeating-linear-gradient(
    45deg,
    black,
    black 2px,
    transparent 2px,
    transparent 4px
  );
  margin: 0 20px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: opacity 0.2s ease; /* Smooth transition for hiding */
}

.custom-cursor.hidden {
 background-color: #000000;
}



.service-item {
  text-align: center;
  color: #fff;
  position: relative;
  min-height: 250px;
  overflow: visible; 
}

.service-item:last-child {
  border-right: none;
}

.service-icon {
  font-size: 1rem;
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
  mix-blend-mode: luminosity;
  position: relative;
}

.service-title h3 {
  color: #000000;
  font-size: 25px;
}

.service-description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #f9f9f9;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.service-description p {
  font-size: 15px;
}

.service-item:hover .service-description {
  display: flex;
  opacity: 1;
  font-size: 10px;
  z-index: 1;
}

.service-item:hover .service-icon {
  transform: translateX(280px);
  min-width: 280px;
  min-height: 250px;
  text-align: center;
  padding-top: 60px;
  text-align: center;
  position: absolute;
  background: #f3f3f3;
}

.service-item:hover .service-title {
  color: #000000;
  transform: translateX(280px);
  position: absolute;
  font-size: 10px;
  min-width: 280px;
  text-align: center;
  padding-top: 30px;
}



.service-item::before,
.service-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0b141c;
  transition: transform 0.8s ease-in-out;

}

.service-item::before {
  transform: scaleX(0);
  transform-origin: left;
}

.service-item::after {
  transform: scaleY(0);
  transform-origin: top;
}

.service-item:hover::before {
  transform: scaleX(1);
}

.service-item:hover::after {
  transform: scaleY(1);
}



/* second service */

.service-item1 {
  text-align: center;
  color: #fff;
  /* border-right: 1px solid #afaf29; */
  position: relative;
  min-height: 250px;
  overflow: visible; 
}

.service-item1:last-child {
  border-right: none;
}

.service-icon1 {
  font-size: 1rem;
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
  mix-blend-mode: luminosity;
  position: relative;
}
.service-icon1-crm {
  font-size: 1rem;
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
  mix-blend-mode: luminosity;
  position: relative;
}
.service-title1 h3{
  color: #000000;
  font-size: 25px;
}
.service-description1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.service-description1 p {
  font-size: 14px;
}
.service-item1:hover .service-description1 {
  display: flex;
  opacity: 1;
  font-size: 10px;
  z-index: 1;
}
.service-item1:hover .service-icon1 {
  transform: translateX(-280px);
  min-width: 280px;
  min-height: 250px;
  text-align: center;
  padding-top: 60px;
  text-align: center;
  position: absolute;
  background: #f3f3f3;
}

.service-item1:hover .service-title1 {
  transform: translateX(-280px);
  position: absolute;
  font-size: 10px;
  min-width: 280px;
  text-align: center;
  padding-top: 30px;
}

.service-title1-crm 
{
  color: #000000;
  font-size: 25px;
}

.service-item1::before,
.service-item1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0b141c;
  transition: transform 0.8s ease-in-out;
}

.service-item1::before {
  transform: scaleX(0);
  transform-origin: right;
}

.service-item1::after {
  transform: scaleY(0);
  transform-origin: top;
}

.service-item1:hover::before {
  transform: scaleX(1);
}

.service-item1:hover::after {
  transform: scaleY(1);
}
.head-text
{
    font-size: 2.5rem;
    color: #0b141c;
}
