/* first section */
@media screen and (max-width: 800px) {

 .item
  {
    width: 60px;
    display: flex;
    align-items: center;
  }
   }
   @media screen and (min-width: 600px) {
    .hero-text
   {
       font-size: 5rem ;
   }
  
   }
   /* Mobile devices (up to 600px) */
@media screen and (max-width: 780px) {
  .hero-text {
      font-size: 3rem;
  }
  .item {
      width: 60px;
      display: flex;
      align-items: center;
  }
  .mobile-dot
  {
    display: none;
  }

}

/* Tablet devices (600px to 1024px) */
@media screen and (min-width: 800px) and (max-width: 1024px) {
  .hero-text {
      font-size: 4rem;
  
  }
  .item {
      width: 70px;
      display: flex;
      align-items: center;
  }

}

/* Small desktops and larger tablets (1024px and up) */
@media screen and (min-width: 1025px) {
  .hero-text {
      font-size: 5rem;
  }

}


/* Tablet View */
@media (max-width: 1024px) {


  .img_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 100px;
    margin: 10px;
  }

  input:checked + label {
    width: 100%;
  }

  .card > .card_row > .description {
    width: 100%;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .img_container {
    flex-direction: row; 
    align-items: center;
  }
.wrapper{
  height: 10%;
}
  .card {
    width: 90%;
    margin: 10px 0;
  }

  input:checked + label {
    width: 100%;
    height: 200px;
  }

  .card > .card_row > .description {
    width: 100%;
  }
  .land-dot
  {
    display: none;
  }


}