/* first section */
@media screen and (max-width: 800px) {
    .hero-text
   {
       font-size: 4.5rem ;
   }
 .item
  {
    width: 60px;
    display: flex;
    align-items: center;
  }
   }
   @media screen and (min-width: 600px) {
    .hero-text
   {
       font-size: 5rem ;
   }
   }
   /* Mobile devices (up to 600px) */
@media screen and (max-width: 780px) {
  .hero-text {
      font-size: 4rem;
  }
  .item {
      width: 60px;
      display: flex;
      align-items: center;
  }
}

/* Tablet devices (600px to 1024px) */
@media screen and (min-width: 800px) and (max-width: 1024px) {
  .hero-text {
      font-size: 4.5rem;
  }
  .item {
      width: 70px;
      display: flex;
      align-items: center;
  }
}

/* Small desktops and larger tablets (1024px and up) */
@media screen and (min-width: 1025px) {
  .hero-text {
      font-size: 5rem;
  }
}