/* #maincanvas {

    max-width: 450px;
    border: 1px solid red;
  }
   */

   /* .grid {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .row {
    display: flex;
    gap: 10px; 
  }
  
  .dot {
    border-radius: 50%;
    background-color: #bababa;
  }
  
  .highlighted {
    background-color: green; 
  }
  .circle-canvas {
    border: 2px solid black; 
   
  }
   */

   @keyframes moveDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }

  .letter {
    animation: moveDown 5s infinite;
  }