.Melement {
  width: 100%;
  max-width: 400px;
  min-height: 350px;

  display: block;
  margin: 0 auto; 
}

@media screen and (max-width: 800px) {
  .Melement {
    max-width: 80%; 
    min-width: 250px;
    min-height: 250px;
  }
}
