
.filters {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filters button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    width: 100px;
    background-color: #ee964b;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
  
  .filters button:hover {
    background-color: #0b141c;
  }
  .filters button.active {
    background-color: #0b141c;
    color: white;
  }
  .gallery-grid{
    display: flex;
    align-items: center;
    justify-content: center;
  }


.element-item1 {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Center aligns the image */
  align-items: center; /* Vertically centers the image */
}

.element-item1 img {
  max-width: 100%; /* Ensures the image scales down to fit the container */
  height: auto; /* Maintains the aspect ratio */
}

/* Optional: Add padding for mobile devices */
@media (max-width: 768px) {
  .element-item1 {
    padding: 1rem; /* Adjust padding for smaller screens */
  }
}