/* Add CSS to make images responsive and improve layout */
.gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .element-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .gallery-image:hover {
    transform: scale(1.05);
  }
  