/* .btnReachUs {
  background-color: #ee964c;
  border: "none";
  width: "130px";
  color: "black";
  font-weight: 500;
} */
.logo{
  text-decoration: none;
}
.nav_bg{
  background-color: #0b141c;
}
.nav-link{
  color: white !important; 
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.685) !important; 
}
.nav_bg .nav-link.active {
  color: #f8c471 !important; /* Same color as hover or a different one */
}

.btnReachUs {
    background-color: transparent;
    /* color: rgb(0, 0, 0);               */
    padding: 5px 20px;  
    border-image: linear-gradient(to top, transparent 0%, #d4670d 100%) 1; 
    /* border: 1px solid #ee964c;               */
    /* border-radius: 5px; */
    border-width: 2px;
    width: "130px";   
    font-weight: 500; 
    cursor: pointer;           
    transition: background 0.5s ease-in-out; 
  
    &:hover {
      background-color: #d4670d; 
      color: #d4670d;
    }
  
  }

  .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}
