/******* Common Element CSS Start ******/
* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  .clear {
    clear: both;
  }
  img {
    max-width: 100%;
    border: 0px;
  }
  ul,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: all 0.4s ease-in-out;
  }
  a:hover {
    color: #e73700;
  }
  h2 {
    margin-bottom: 48px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
  }
  h3 {
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 36px;
  }
  /******* Common Element CSS End *********/
  
  /* -------- title style ------- */
  .line-title {
    position: relative;
    width: 400px;
  }
  .line-title::before,
  .line-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
  }
  .line-title::before {
    width: 100%;
    background: #f2f2f2;
  }
  .line-title::after {
    width: 32px;
    background: #e73700;
  }
  
  /******* Middle section CSS Start ******/
  /* -------- Landing page ------- */
  .game-section {
    padding: 60px 50px;
  }
  .game-section .item-image {
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    border-radius: 16px;
    position: relative;
  }
  .game-section .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 16px 16px;
  }
  