.footer {
  background-color: #0b141c;
  min-height: 300px;
  color: azure;
  margin-top: var( --medium-margin);
}
.logo_footer
{
  width: 850px;
}
.footer_logo {
  width: 15%;
}
.minute_text{
  display: flex;
  align-items: end;
}
.footer_link p {
  font-size: 15px;
  opacity: 0.5;
  cursor: pointer;
  line-height: 1;
}
.footer_link p:hover {
  opacity: 1;
  color: #ee964b;
}

.footer_address p {
  font-size: 13px;
  /* max-width: 200px; */
}
.phone {
  display: flex;
  align-items: center;
}
.phone_icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.email_icons {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.icons {
  visibility: hidden;
}

.copyright {
  font-size: 12px;
  opacity: 0.3;
  text-align: end;
  font-weight: 200;
}
@media screen and (max-width: 780px) {
  .logo_footer{
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  .footer {
    margin: auto;
    text-align: center;
  }
  .copyright {
    text-align: center;
  }

 
}


.footer_number li {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
}

.footer_number li .icons,
.footer_number li .phone_icon,
.footer_number li .email_icons {
  /* min-width: 10px;  */
  text-align: center;
}


@media (max-width: 768px) {
  .footer_number li {
    justify-content: center; 
  }

  .footer_number p 
  {
    margin-left: 0px;
  }
}
