.webAppTop {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.webapplication_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.webapplication_header_img img {
  max-width: 400px;
}
.webapplication_header_text1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  
}
.webapplication_header_button {
  height: 100px;
  display: flex;
  justify-content: center;
}
.webapplication_header_button button {
  width: 100px;
    height: 100px;
  border-radius: 50%;
  border: none;
  background-color: #000000;
  color: #f9f9f9;
  transition: 0.5s ease-in-out;
}
.webapplication_header_button button:hover {
  background-color: #ee964b;
  color: #000000;
}
.responsive-img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .webAppTop {
    height: auto;
    /* padding: 40px 20px; */
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .webAppTop .row {
    flex-direction: column;
  }

  .webAppTop h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .webapplication_header_img img{
width: 100%;
  }
  .webAppCards{
    display: flex;
    flex-direction: column;
   
  }
  .webAppCards_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
.webapplication_header_button{
     display: flex;
    align-items: center;
    justify-content: center;
}
  .webapplication_header_button button {
    width: 100px;
    height: 100px;
  }
}
.webapplication_header_text1{
    /* text-align: center; */
    font-size: 40px;
}
.webAppCards_heading p {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.webAppCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.webAppCards_card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  max-width:550px;
  min-height:300px;
  border-radius: 10px;
  padding: 10px;
text-align: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
}
.webAppCards_card:hover {
  background-color: #0b141c;
  color: #f9f9f9; /* Background turns black on hover */
}
.webApp_card_body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}
.webApp_text {
  /* text-align: justify; */
  font-size: 15px;
}
