/* .products_delivered{
    display:  flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
 
}
.products_delivered_iteam{
    text-align: center;
    padding: 10px;
    color: #f9f9f9;
    background-color: #0b141c;
    min-width: 25%;
    height: 180px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}
.products_delivered_iteam p{
font-size: 70px;
font-weight: 700;
} */

.products_delivered {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap; /* To allow items to wrap on smaller screens */
}

.products_delivered_iteam {
  text-align: center;
  padding: 0 10px;
  color: #f9f9f9;
  background-color: #0b141c;
  min-width: 20%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.products_delivered_iteam p {
  font-size: 50px;
  font-weight: 700;
}
.products_delivered_iteam h5{
  font-size: 15px;
}

/* Media Queries for responsiveness */

@media (max-width: 1200px) {
  .products_delivered_iteam {
    min-width: 30%;
    height: 150px;
  }

  .products_delivered_iteam p {
    font-size: 55px;
  }
}

@media (max-width: 992px) {
  .products_delivered_iteam {
    min-width: 45%;
    height: 140px;
  }

  .products_delivered_iteam p {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .products_delivered_iteam {
    min-width: 100%;
    height: 130px;
  }

  .products_delivered_iteam p {
    font-size: 45px;
  }
}

@media (max-width: 576px) {
  .products_delivered_iteam {
    height: 120px;
  }

  .products_delivered_iteam p {
    font-size: 40px;
  }
}